@font-face{
	font-family: sfont;
	src:url('./ttf/Sansation_Light.ttf');
}
@font-face{
	font-family: kbqnfont;
	src:url('./ttf/kbqn.ttf');
}
body{
	height: 1000px;
	background: linear-gradient(to bottom,#000,#fff);

}
a{
	font-family: kbqnfont;
	font-size: 40px;
	display: block;
	color: #fff;
	text-decoration: none;
}
.thom{
	width: 1000px;
	height: 300px;

}
.thom li{
	float: left;
	width: 48px;
	height: 298px;
	list-style: none;
	border:1px solid #000;
	transition: all ease 0.3s;
}